@font-face {
    font-family: "MuseoSans";
	src: url("../fonts/MuseoSansMedium.eot");
	src: url("../fonts/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MuseoSansMedium.woff") format("woff"),
	url("../fonts/MuseoSansMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
    font-family: "MuseoSans";
	src: url("../fonts/MuseoSansBold.eot");
	src: url("../fonts/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MuseoSansBold.woff") format("woff"),
	url("../fonts/MuseoSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
    font-family: "MuseoSans";
	src: url("../fonts/MuseoSansBlack.eot");
	src: url("../fonts/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MuseoSansBlack.woff") format("woff"),
	url("../fonts/MuseoSansBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}
